@import '../../settings/colors.scss';

@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

main {
  width: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.title {
  color: $fifth-color;
  display: block;
  padding: 10px;
  font-size: 32px;
  width: 100%;
  span {
    color: $first-color;
  }
}

.movie {
  width: 10.5%;
  margin: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  animation: appear 0.5s ease;
  &:hover {
    cursor: pointer;
  }
}

.displayNone {
  display: none;
}

.rating {
  position: relative;
  top: 3%;
  left: 50%;
  width: 35px;
  transform: translateX(-50%);
  font-size: 18px;
  background-color: green;
  color: $fifth-color;
  text-align: center;
}

.movieImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

h4 {
  color: $fifth-color;
  margin: 5px;
  font-size: 18px;
}

.year {
  color: $sixth-color;
  margin: 5px;
  font-size: 16px;
}
