@import '../../settings/colors.scss';

header {
  background-color: $first-color;
  display: flex;
  color: $fifth-color;
  display: flex;
  height: 60px;
  align-items: center;
}

.logo {
  background-color: $second-color;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  i {
    font-size: 60px;
  }
  h1 {
    font-size: 32px;
    font-family: 'Bangers', cursive;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  header {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
  }
  .list {
    margin: 0 auto;
  }
}
